<div class="form-group officer" id="{{ c.id }}_status_effect_form">
    <label>Apply stauts effect for <strong>{{c.name}}</strong></label><br>
    <input type="text" id="{{c.id}}_val_effect_name" placeholder="Name" required/><br>
    <label>Dice roll info (optional)</label><br>
    <input class="small-input" type="number" id="{{c.id}}_val_dice_no" placeholder="Num dice"/>
    <input class="small-input" type="number" id="{{c.id}}_val_dice_d" placeholder="Sides"/>
    +
    <input class="small-input" type="number" id="{{c.id}}_val_dice_plus" placeholder="Constant"/> | 
    <input class="small-input" type="number" id="{{c.id}}_val_duration" placeholder="Duration"/><br>
    <label>Color</label><br>
    <input type='text' id="{{c.id}}_effect-color-picker" />
    <button class="btn btn-default" id="{{c.id}}_btn_Add_effect" onclick="addEffectButtonPressed(this);">Add effect</button>
</div>