<div class="btn-toolbar" role="toolbar">
    <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default active" onclick="tbNewCharacter();">
        <input type="radio" id="mt-game" autocomplete="off" checked>
        New
    </label>
    <label class="btn btn-default" onclick="tbStauts();">
        <input type="radio" id="mt-chat" autocomplete="off">
        Status
    </label>
</div>