{{#if all}}
<div class="panel panel-default" id ="{{c.id}}_panel">
{{/if}}
    {{#if c.inParty}}
        <div class ="panel-body party" id="{{c.id}}_panel_heading" onclick ="select(this)">
    {{else}}
        <div class ="panel-body not-party" id="{{c.id}}_panel_heading" onclick ="select(this)">
    {{/if}}
        <h4>
            <div class="center-block">
                <strong>{{c.name}} </strong> |  HP: {{c.health}} | P : {{c.priority}}
            </div><br>
            {{#if officer}}
            <div class="officer">
            <input type="number" class="small-input" id="{{c.id}}_val_DAM" placeholder="+/- HP"></input>
            <button class="btn btn-default btn-sm" id="{{c.id}}_btn_DAM" onclick="damButtonPressed(this);">DAM</button> |
            <input type="number" class="small-input" id="{{c.id}}_val_priority" placeholder="Priority"></input>
            <button class="btn btn-default btn-sm" id="{{c.id}}_btn_priority" onclick="updatePriorityButtonPressed(this);">Update</button> |
            <button class="btn btn-default btn-sm" id="{{c.id}}_btn_DAM" onclick="closeCharacterBox(this);">X</button>
            </div>
            {{/if}}
        </h4>
        {{#each c.statusEffects}}
        <h4><span class="label label-success" style="background-color: {{this.color}}">
            {{this.name}} |
            {{#if this.dice}} {{readableDice this.dice}} {{/if}}
            {{#if this.duration }} | {{this.duration}} {{/if}}
            <div class="btn btn-default btn-circle no-padding officer" style="background-color: {{this.color}}" id="{{this.pid}}_{{this.id}}" onclick="removeEffectButtonPressed(this);">X</div>
        </span></h4>
        {{/each}}
    </div>
{{#if all}}
</div>
{{/if}}