<div>
    <input id="gameID" type="number" class="form-control" placeholder="Game ID"/>
    <input id="gameJoinPassword" type="text" class="form-control" placeholder="Password"/>
    <button class="btn btn-default btn-lg" onclick="joinGame();">Join</button>
    <div id="game-join-error"></div>
</div>