<input id="name" type="text" class="form-control" placeholder="Character name" required/> 
<input id="hp" type="number" class="form-control" placeholder="Health" min="0" max="9999" required/> 
<button class="btn btn-default" onclick="createNewCharacter();">New character</button>
<label>Party Character?</label>
<input class="small-input" type="checkbox" id="chk_party" placeholder="Party?"></input>