<div>
    <input id="gameCreatePassword" type="text" class="form-control" default ="" placeholder="Password"/>
    <button class="btn btn-default btn-lg center-block" onclick="startNewGame();">Create game</button>
</div>