.small-input{
    width: 70px;
}

.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.no-margin{
    margin: 0px;
}

.no-padding{
    padding: 0px;
}

.center{
    margin: auto;
}

.party{
    background-color:  #ccffdd;
}

.not-party{
    background-color: #ffcccc;
}

.highlight{
    background-color: green;
}

#chatbox{
    border:1px solid #ccc;
    overflow:auto;
    max-height: 300px;
    width: 100%;
}

.chatbox-text-stripe-1{
    background-color: #C5FFF1;
}

.chatbox-text-stripe-2{
    background-color: #D0D2E8;
}

.admin-chat-name{
    color: red;
}

.google-footer-ad{
    text-align:center;
}

.inline-block{
    display: inline-block;
}

.chatbox-font{
    font-size: 1em;
    line-height: 1.0;
}

.warn{
    color: red;
}

.footer{
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.hideAtStart { display: none; }

.nav-title{
    font-size: 2em;
    padding-top: 25px;
    padding-bottom: 40px;
}

.game-entry-row{
    min-height: 220px
}

#sub-title{
    font-size: 1.6em;
    color: white;
}